body{
	
	background-color: deepskyblue;
}
video{
	margin-left: 30%;
}
div{

}
p#p1
{
	font-family: 'Lobster', cursive;
}
p#p2
{
	font-family: 'Indie Flower', cursive;
}
p{
	position: relative;
	left:500px;
	right:20px;
	width: 50%;

		
	font-size: 60px;
	text-align: center;
	border-style:inset;
	border-width: 10px;


}

/*p
{

	position: static;
	left:20px;
	margin-left: 30%;

	font-family: 'Indie Flower', cursive;
	font-size: 60px;
	font-style: italic;
	color: red;
	border-width: 10px;
	border-style:groove;
	
	text-align: center;
	text-transform: uppercase;
	text-shadow: -10px 20px 10px red;
}*/
p#p2{
	color:white;
}

aside
{
	background-color:yellow;
	float: left;
	width: 50%;
}
article
{
	background-color: red;
	width:50%;
	float: left;
}
footer{
	background-color:white;

}
a{
	text-decoration: none;
	
}
li
{
	background-color: yellow;
	width:60px;
	display: block;
	padding: 10px;
	border-bottom:1px solid;
	
}
li a:hover
{
	width: 60px;
	padding: 10px;
background: red;
}



aside,article{
	height: 70px;
}
